<div class="add-button">
    <button (click)="toggle()">+</button>
    <span *ngIf="!open" class="tooltiptext">Klik om een nieuwe bier toevoegen</span>
</div>

<div *ngIf="open" class="add-beer">
  <h1>Nieuwe bier</h1>
  <form ([formGroup])="profileForm" (ngSubmit)= "submit(formdata.value)">
    <input type="text" placeholder="Bier" formControlName="Bier">
    <input type="text" placeholder="Stijl" formControlName="Stijl">
    <input type="text" placeholder="Stamwortgehalte" formControlName="Stamwortgehalte">
    <input type="text" placeholder="Alcoholpercentage" formControlName="Alcoholpercentage">
    <input type="text" placeholder="Gistering" formControlName="Gistering">
    <input type="text" placeholder="Sinds" formControlName="Sinds">
    <input type="text" placeholder="Brouwerij" formControlName="Brouwerij">
    <button type="submit">Add</button>
  </form>
</div> 

