@import '../mixins.scss';

.add-button {
    &:hover {
        button {
            background-color: red;
            color: white;
            @include rotate();
        }
        .tooltiptext {
            visibility: visible;
        }
    }
    button {
        width: 30px;
        height: 30px;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        @include animate();
    }

    .tooltiptext {
        visibility: hidden;
        width: 150px;
        font-size: 9pt;
        background-color: lightgrey;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: 50%;
        margin-left: -60px;
      }
}


.add-beer {
    position: absolute;
    left: -204px;
    top: 25px;
    background-color: white;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    
    input {
        margin: 5px auto;
        border: 1px solid grey;
        border-radius: 2px;
        padding: 2px;
        width: 400px;
    }

    button {
        width: initial;
        border: 1px solid grey;
        background-color: white;
        border-radius: 2px;
        float: right;
        &:hover {
            background-color: green;
            color: white;
            border: 1px solid lightgrey;
        }
    }

    &::after {
        content: " ";
        position: absolute;
        bottom: 100%;  /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent grey transparent;
    }
}

