@import '../screen-widths.scss';
app-add-beer /deep/ {
    position: relative;
    bottom: 55px;
    left: 85%;
}
.beer-list-container {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    grid-auto-rows: 1fr;
    max-width: 95%;
    margin: auto;
    justify-items: stretch;
    align-items: stretch;
}

@media screen and (max-width: $mobile) {
    .beer-list-container {
        grid-template-columns: repeat(2, 1fr [col-start]);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
    .beer-list-container {
        grid-template-columns: repeat(4, 1fr [col-start]);
        
    }
}

@media screen and (min-width: $tablet) {
    .beer-list-container {
        grid-template-columns: repeat(6, 1fr [col-start]);
    }
}