:host {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        margin: 25px auto;
        width: 60%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid grey;
        padding: 0 15px;
        font-size: 13pt;
    }
}